body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.content{
	flex: 1;
	padding-top: 10vh; 
	padding-bottom: 10vh;
}

.footer{
	background-color: #2660a4;
	padding: 20px;
	/*height: 20px;   */      /*  don't add a height this is why there was whitespace, just add padding  */  
}
/*for a sticky footer using flexbox ... https://css-tricks.com/couple-takes-sticky-footer/*/

h1{
  text-align: center;
}

/*for styling the navbar*/

.navbar-custom {
    background-color: #2660a4;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/*for styling the navbar*/

section{
  width: 100%;
  min-height: 50vh;  /*use this instead of a fixed height so that no overlap */
}

#portfoliophoto{
	border-radius: 50%;
	margin: auto;   /*so that the image is centered, also use img-responsive */
}


.project{
	border: 1px solid black;
}

#Projects{
	background-color: #474547;
	min-height: 30vh;
}


.smicons{  /*https://css-tricks.com/examples/IconFont/*/
	color: #ffffff;
    /*text-shadow: 1px 1px 1px #ccc;*/
    font-size: 5em;
}

.envelope_icon{
	color: #000000;
	font-size: 5em;
}

 /**{ border: 1px solid red; }*/

/*go at noon, 1 at the latest*/




